.modal-content{
	border: none !important;
	border-radius: 15px;
}

#title{
	font-weight: 500;
	font-size: 48px;
	color: #000;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

#titleD{
	font-weight: 300;
	font-size: 20px;
	color: #000;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

#days{
	font-weight: 700;
	font-size: 96px;
	color: #000;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

#daysD{
	font-weight: 300;
	font-size: 18px;
	color: #000;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);	
}

.modal-dialog{
	display: flex;
    justify-content: center;
}

.modal-body{
	padding: 1rem 2rem;
}