#half-stars-example .rating-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
#half-stars-example .rating__icon {
  pointer-events: none;
}
#half-stars-example .rating__input {
  position: absolute !important;
  left: -9999px !important;
}
#half-stars-example .rating__label {
  cursor: pointer;
  margin: 0;
  padding: 0 0.1em;
  font-size: 2rem;
  min-height: 57.6px;
}
#half-stars-example .rating__label--half {
    padding: 0;
    margin: 0;
    line-height: 0;
    margin-right: -0.4em;
    z-index: 3;
    max-width: 16px !important;
    font-size: 3rem;
}
#half-stars-example .rating__icon--star {
  color: #007bff;
}
#half-stars-example .rating__icon--none {
  color: #eee;
}
#half-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}
#half-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}
#half-stars-example .rating-group:hover .rating__label .rating__icon--star,
#half-stars-example .rating-group:hover .rating__label--half .rating__icon--star {
  color:  #007bff;
}
#half-stars-example .rating__input:hover ~ .rating__label .rating__icon--star,
#half-stars-example .rating__input:hover ~ .rating__label--half .rating__icon--star {
  color: #ddd;
}
#half-stars-example .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
  color: #eee;
}
#half-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}
