.icons{
	width: 32px;
	height: 32px;
	filter: grayscale(100%);
	transition: .3s ease;
}

.icons:hover{
	filter: none;
	transition: .3s ease;
}

.icons{
	width: 32px;
	height: 32px;
	filter: grayscale(100%);
	transition: .3s ease;
	margin-right: 10px;
}

.active > a > img{
	filter: none !important;
}

a:hover > img{
	filter: none !important;
}
